vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jan 2021 14:29:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|stkoch.de/index.html
vti_author:SR|Steffen-PC\\Steffen
vti_modifiedby:SR|Steffen-PC\\Steffen
vti_timecreated:TR|10 Dec 2020 12:16:32 -0000
vti_nexttolasttimemodified:TW|10 Dec 2020 12:16:32 -0000
vti_cacheddtm:TX|10 Dec 2020 12:16:32 -0000
vti_filesize:IR|19082
vti_cachedlinkinfo:VX|S|../fonts/linea.eot S|../fonts/linea.eot S|../fonts/linea.woff S|../fonts/linea.ttf S|../fonts/linea.svg
vti_cachedsvcrellinks:VX|FSUS|stkoch.de/fonts/linea.eot FSUS|stkoch.de/fonts/linea.eot FSUS|stkoch.de/fonts/linea.woff FSUS|stkoch.de/fonts/linea.ttf FSUS|stkoch.de/fonts/linea.svg
